@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Source+Code+Pro&display=swap');
.horo{
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    border: 5px;
    box-shadow: 0 0 10px 5px;
}
#title{
    text-align: center;
    padding-top: 0px;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;

}
.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }
#btn{
    margin-top: 8px;
    margin-left: 90px;
}
#textpred{
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 13px;
}
.close-container{
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    cursor: pointer;
  }
  .myButton {
	background:linear-gradient(to bottom, #c74545 5%, #bd2a2a 100%);
	background-color:#c74545;
    border-radius: 32px;
    border: 3px solid #ab1919;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 0px;
    text-decoration: none;
    text-shadow: -2px 2px 4px #662828;
    margin-left: 25px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bd2a2a 5%, #c74545 100%);
	background-color:#bd2a2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
