@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
.btn-group button {
    background-color: #0F52BA; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: 'Lemonada', cursive;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  #newstitle{
    margin-top: 13px;
    font-family: 'Lemonada', cursive;
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
  }